.micRibbon{
    background-color: rgba(238, 136, 34, 0.4);
    padding: 5px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: -40px;
    transform: rotate(-45deg);
    min-width: 200px;
    z-index: 999999;
}

.camRibbon{
    background-color: rgba(34, 204, 119, 0.4);
    padding: 5px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 18px;
    right: -32px;
    transform: rotate(-45deg);
    min-width: 120px;
    z-index: 999999;
}